>
<div id="page-wrapper" style="width:81%;margin-top: 6%;float:right">
  <div id="page-inner">
    <!-- /. ROW  -->
    <hr />
    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <div class="row">
                <div class="col-sm-6">
                  <a  [routerLink]="[ url+'/add' ]  " class="btn btn-success btn-md">Add</a>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                  <form method="post" action="">
                    <input type="submit" name="search" value="Tìm kiếm" class="btn btn-warning btn-sm"
                      style="float:right" />
                    <input type="search" class="form-control input-sm" placeholder="search"
                      style="float:right; width: 300px;" />
                    <div style="clear:both"></div>
                  </form><br />
                </div>
              </div>

              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr>
                    <th width="70px">STT</th>
                    <th width="70px">Topic</th>
                    <th width="70px">Form</th>
                    <th width="70px">Use</th>
                    <th width="70px">Example</th>
                    <th width="70px">Function</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of grammars;let i = index">
                  <tr>
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.form}}</td>
                    <td>{{item.usage}}</td>
                    <td>{{item.example}}</td>
                    <td class="center">
                      <a  title="" [routerLink]="[ url+'/edit/'+item._id ]" class="btn btn-primary"><i class="fa fa-edit "></i> Edit</a>
                      <a  title="" (click)="deleteGrammar(item._id)" class="btn btn-danger"><i class="fa fa-pencil"></i> Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
        <!--End Advanced Tables -->
      </div>
    </div>
  </div>
</div>