<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="index.html">E Learn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item">
                    <div id="custom-search" class="top-search-bar">
                        <input class="form-control" type="text" placeholder="Search..">
                    </div>
                </li>
                <li class="nav-item dropdown notification">
                    <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                            class="indicator"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                            <div class="notification-title"> Notification</div>
                            <div class="notification-list">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img
                                                    src="assets/images/avatar-2.jpg" alt=""
                                                    class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span
                                                    class="notification-list-user-name">Jeremy Rakestraw</span>accepted
                                                your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img
                                                    src="assets/images/avatar-3.jpg" alt=""
                                                    class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span
                                                    class="notification-list-user-name">John Abraham </span>is now
                                                following you
                                                <div class="notification-date">2 days ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img
                                                    src="assets/images/avatar-4.jpg" alt=""
                                                    class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span
                                                    class="notification-list-user-name">Monaan Pechi</span> is watching
                                                your main repository
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img
                                                    src="assets/images/avatar-5.jpg" alt=""
                                                    class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span
                                                    class="notification-list-user-name">Jessica Caruso</span>accepted
                                                your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-footer"> <a href="#">View all notifications</a></div>
                        </li>
                    </ul>
                </li>
               
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" *ngIf="profile.img!=''&&profile.img!=null else notImage"><img src="https://elearn-anhhong.c9users.io/images/{{profile.img}}" alt=""
                            class="user-avatar-md rounded-circle"></a>
                            <ng-template #notImage>
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-9/29683854_609414952739199_4015623375535404491_n.jpg?_nc_cat=105&_nc_oc=AQmKoliTbeWe52uKB-CZsualzDjqto5TVBAPJCaUzHd7uhkFI78CyDa6T6uGCY5S3kY&_nc_ht=scontent.fdad3-2.fna&oh=1ca44f2d62be8919c2e92651d0b80c45&oe=5D5CB6E0" alt=""
                            class="user-avatar-md rounded-circle"></a>
                            </ng-template>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                        aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name">{{profile.name}} </h5>
                            <span class="status"></span><span class="ml-2">Available</span>
                        </div>
                        <a class="dropdown-item"  [routerLink]="[ '/admin']"><i class="fas fa-user mr-2"></i>Account</a>
                        <a class="dropdown-item" (click)="logOut()" href="/login"><i class="fas fa-power-off mr-2"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- ============================================================== -->
<!-- end navbar -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>Dashboard <span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu" >
                            <ul class="nav flex-column" *ngFor="let item of categories">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="[ '/'+item.name ]">{{item.name}}</a>
                                </li>
                                </ul>
                                </div>
                                
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="[ '/category']" aria-expanded="false"><i
                                            class="fa fa-fw fa-rocket"></i>
                                        Category</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="[ '/post']"><i class="fas fa-fw fa-chart-pie"></i>Post</a>

                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" [routerLink]="[ '/quest' ]"><i
                                            class="fab fa-fw fa-wpforms"></i>Question</a>
                                </li>
                                <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="[ '/tag' ]"><i
                                                class="fab fa-fw fa-wpforms"></i>Tag</a>
                                    </li>

                            </ul>
                        </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->